name: audit-check

on:
  push:
    paths:
      - '**/Cargo.lock'
      - '**/Cargo.toml'
      - ".github/workflows/audit-check.yml"
      - 'deny.toml'
  pull_request:
    paths:
      - '**/Cargo.lock'
      - '**/Cargo.toml'
      - ".github/workflows/audit-check.yml"
      - 'deny.toml'

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  cargo-deny:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        checks:
          - advisories
          - bans
          - licenses
          - sources

    # Prevent sudden announcement of a new advisory from failing ci:
    continue-on-error: ${{ matrix.checks == 'advisories' }}

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: EmbarkStudios/cargo-deny-action@v2
        with:
          command: check ${{ matrix.checks }}
