name: cargo-vet
# run only manually, otherwise, it fails on each version bump
on: workflow_dispatch
jobs:
  cargo-vet:
    name: Vet Dependencies
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      CARGO_VET_VERSION: 0.9.1
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "${{ github.workflow }}"
      - name: Install Rust
        run: rustup update stable && rustup default stable
      - uses: actions/cache@v5
        with:
          path: ${{ runner.tool_cache }}/cargo-vet
          key: cargo-vet-bin-${{ env.CARGO_VET_VERSION }}
      - name: Add the tool cache directory to the search path
        run: echo "${{ runner.tool_cache }}/cargo-vet/bin" >> $GITHUB_PATH
      - name: Ensure that the tool cache is populated with the cargo-vet binary
        run: cargo install --root ${{ runner.tool_cache }}/cargo-vet --version ${{ env.CARGO_VET_VERSION }} cargo-vet
      - name: Invoke cargo-vet
        run: cargo vet --locked
